// Gallery
.filterDiv {
  float: left;
  background-color: #2196f3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.show {
  display: block;
}

.show-gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.hello {
  opacity: 1 !important;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    width: 100%;
    height: 100%;
    display: grid;

    img {
      left: 50%;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      animation: zoomin 1s ease;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }
}

.byebye {
  opacity: 0;
}

.byebye:hover {
  transform: scale(0.2) !important;
  -webkit-transform: scale(0.2) !important;
  -moz-transform: scale(0.2) !important;
  -ms-transform: scale(0.2) !important;
  -o-transform: scale(0.2) !important;
}

.gallery {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 5px;
  padding: 0 1em;

  img {
    max-width: 100%;
    border-radius: 8px;

    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);

    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;

    cursor: pointer;
  }

  img:hover {
    box-shadow: 0 0 20px $darkerGray;
  }

  .content {
    padding: 4px;
  }

  .galley-item {
    transition: grid-row-start 300ms linear;
    -webkit-transition: grid-row-start 300ms linear;
    -moz-transition: grid-row-start 300ms linear;
    -ms-transition: grid-row-start 300ms linear;
    -o-transition: grid-row-start 300ms linear;

    transition: transform 300ms ease;
    -webkit-transition: transform 300ms ease;
    -moz-transition: transform 300ms ease;
    -ms-transition: transform 300ms ease;
    -o-transition: transform 300ms ease;

    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    cursor: pointer;
  }

  .galley-item:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
}

@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  100% {
    z-index: 15;
    max-width: 100%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);

    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  100% {
    z-index: 15;
    max-width: 100%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);

    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  100% {
    z-index: 15;
    max-width: 100%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);

    filter: blur(4px);
  }

  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
  }

  70% {
    max-width: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  100% {
    z-index: 15;
    max-width: 100%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}
