// Colors
$primaryColor: #e28393;
$secondaryColor: #f2afb8;
$thirdColor: #bdd5d1;
$gray: #6a6a6a;
$darkGray: #3c3c3c;
$darkerGray: #272727;
$lightGray: #adadad;
$bgColor: #f5f5f5;
$alert: #fc2a2a;
$success: #03dd00;
$white: #ffffff;

$font-title: 'Open Sans', sans-serif;
$main-font: 'Rubik', sans-serif;
$cursive-font: 'Dancing Script', cursive;

// Font-sizes
$font-main: 16px;
$font-sm: 0.875rem; // 14px
$font-med: 1.25rem; // 20px
$font-lg: 1.875rem; // 30px
$font-xlg: 3.25rem; // 52px
$font-xxlg: 5rem; // 80px
